html {
  display: flex;
  height: 100%;
  background: lightslategrey;
  width: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  height: 100%;
  background: lightslategrey;
  width: -webkit-fill-available;
  position: relative;

  background: linear-gradient(130deg, #96d0d79e, #844fbdbf);
  background-color: blue;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {

  height: -webkit-fill-available;
  display: flex;
  width: -webkit-fill-available;
  background-color: #f4fffb99 !important;

}


.mainPage {
  max-height: -webkit-fill-available;
  width: -webkit-fill-available;
  display: flex;
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background-color: #f4fffb99 !important;
}

.pageBody {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  /* flex-wrap: wrap; */
  position: relative;
  overflow: auto;
}

nav {
  height: -webkit-fill-available;
  position: sticky;
}


.toastPopUpDefault {
  position: fixed;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}


.p-toast-message-error {
  background: #b365628a !important;
  padding: 1rem;
  border-radius: 6px;
  border: .1px solid white;
  backdrop-filter: blur(5px);

}

.p-toast-message-error div,
.p-toast-message-error svg,
.p-toast-message-error button {
  color: white !important;
  border: none !important;

}


.p-toast-message-success {
  background: #1ea97c8a !important;
  padding: 1rem;
  border-radius: 6px;
  border: .1px solid white;
  backdrop-filter: blur(5px);
}

.p-toast-message-success div,
.p-toast-message-success svg,
.p-toast-message-success button {
  color: white !important;
  border: none !important;
}


.p-toast-message-warning {
  background: #ffa5007a !important;
  padding: 1rem;
  border-radius: 6px;
  border: .1px solid white;
  backdrop-filter: blur(5px);
}

.p-toast-message-warning div,
.p-toast-message-warning svg,
.p-toast-message-warning button {
  color: white !important;
  border: none !important;
}


.p-toast-message-success svg,
.p-toast-message-error svg,
.p-toast-message-warning svg {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.btn-light {
  background: linear-gradient(130deg, #96d0d79e, #b98fe579);
  background-color: rgba(156, 209, 223, 0.445);
}